@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Red+Hat+Mono&display=swap');

@page {
    size: A4;
    margin: 0;
}


html, body {
    background-color: rgb(253, 253, 253);
    font-family: 'Baloo 2', cursive;
    font-size: 10pt;
    width: 210mm;

    margin: 0 auto;
}

a {
    color: rgb(0, 162, 255);
}

a:hover {
    opacity: 0.8;
}

article {
    margin-bottom: 5rem;
}

code {
    font-family: 'Red Hat Mono', monospace;
    line-height: 1.5;
}

em /* PlaceHolder */ {
    background-color: rgb(238, 228, 252);
    opacity: 0.7;
    border-radius: 0.2rem;
}

footer {
    padding: 3rem;
    text-align: center;
}

b /* KeyWord */ {
    font-weight: bold;
    color: rgb(107, 162, 214)
}

table {
    width: 95%;
    border-collapse: collapse;
}

table > tbody > tr {
    border: 1px solid rgb(230, 225, 225);
}

table > tbody > tr > td {
    min-width: 10rem;
    padding: 0.5rem;
}

table > tbody > tr:hover {
    background-color: rgb(246, 244, 255);
}

i /* comment */ {
    color: gray;
}

h1 {
    margin: 4rem 0 2rem 0;
}

h2, h3 {
    margin: 2rem 0 1rem 0;
}

.menu {
    background-color: rgb(24, 23, 24);
    display: flex;
    justify-content: center;
    gap: 2rem;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
    z-index: 100;
}

.menu > a {
    color: rgb(231, 252, 255);
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0;
}

.menu > a:hover {
    text-decoration: underline;
    filter: brightness(110%);
}